<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>UFABC - Montador de Grades</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

    <link rel='stylesheet' href='css/fullcalendar.min.css' />
    <script src='js/jquery.min.js'></script>
    <script src='js/moment.min.js'></script>
    <script src='js/fullcalendar.min.js'></script>
    <script src='js/fullcalendar.pt-br.js'></script>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>

    <script src="http://matricula.ufabc.edu.br/cache/todasDisciplinas.js"></script>
    <script src="js/funcoes_disciplinas.js"></script>
    <script src="js/xml2json.min.js"></script>
    <script src="js/controller.js"></script>
</head>

<body ng-app="MontadorDeGrades" ng-controller="MontadorController">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">UFABC - Montador de Grades</a>
            </div>
        </div>
    </nav>

    <div class="container" style="position:relative; top: 60px;">

        <h3>Sua grade
            <small>Total de créditos: {{ contarCreditos() }}</small>
        </h3>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Selecionar disciplinas
        </button>
        <div id='grade'></div>


        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Fechar</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Selecione suas disciplinas</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon glyphicon glyphicon-search" aria-hidden="true"></span>
                            <input type="text" class="form-control" placeholder="Pesquise aqui" ng-model="busca" ng-change="buscar(this)">
                        </div>
                        <div class="input-group pull-right">
                                <input name="ocultar" ng-model="ocultar" ng-change="buscar(this)" type="checkbox" aria-label="...">
                                <label for="ocultar">Ocultar turmas com conflitos.</label>
                        </div>

                        <nav class="text-left">
                            <ul class="pager">
                                <li ng-class="prevPageDisabled()"><a href ng-click="prevPage()">Anterior</a>
                                </li>
                                <li ng-class="nextPageDisabled()"><a href ng-click="nextPage()">Próximo</a>
                                </li>
                            </ul>
                        </nav>

                        <table class="table table-hover table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th style="width: 20px;">#</th>
                                    <th style="width: 75px;">Código</th>
                                    <th style="width: 100px;">Sigla</th>
                                    <th>Nome</th>
                                    <th style="width: 135px;">Turmas</th>
                                    <th style="width: 100px;">Campus</th>
                                    <th style="width: 75px;">Período</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="disciplina in resultados | offset: currentPage*itemsPerPage | limitTo: itemsPerPage" ng-class="classeDisciplina(this)">
                                <td>
                                    <input type="checkbox" ng-model="disciplina.escolhida" ng-model-change ng-change="checkboxClick(this);buscar(this)">
                                </td>
                                <td>{{ disciplina.codigo }}</td>
                                <td>{{ disciplina.sigla }}</td>
                                <td><a target="_blank" href="{{ linkHelp(disciplina) }}">{{ disciplina.nome }}<a></td>
                                <td>{{ disciplina.turmas.join(', ') }}</td>
                                <td>{{ disciplina.campus }}</td>
                                <td>{{ disciplina.periodo }}</td>
                            </tr>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="text-right" style="position: absolute;  bottom: 0;  right: 0.5em;  height: 1.5em;">
        <small><a href>© 2014 Rafael Telles</a>
        </small>
    </footer>

    <script>
    $('#grade').fullCalendar({
        header: {
            left: '',
            center: '',
            right: ''
        },
        lang: 'pt-br',
        height: 'auto',
        contentHeight: 300,

        defaultView: 'agendaWeek',
        firstDay: 1,
        hiddenDays: [0],
        allDaySlot: false,
        minTime: '8:00:00',
        maxTime: '23:30:00',
        slotDuration: '01:00:00',
        axisFormat: 'H:mm',
        slotEventOverlap: false,
        eventOverlap: false,

        editable: false,
        columnFormat: {
            week: 'dddd'
        },
    });
    </script>
</body>

</html>
